@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:Bodoni;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(/src/assets/bodoni_xt/BodoniXT.ttf) format(ttf);
}

:root {
  font-family: "Bodoni";
  background-color: black;
}