@import "tailwindcss";

@font-face {
  font-family: "Bodoni";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/src/assets/bodoni_xt/BodoniXT.ttf") format("truetype");
}

:root {
  background-color: white;
}

body {
  font-family: "Bodoni", serif;
}
